@model IEnumerable<erplite.Models.NewContractorClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">Create new</button></a>
</p>
<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.resort)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.resort)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-outline-primary btn-sm" })
                            @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-outline-warning btn-sm" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-outline-danger btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>